{{!< default}}

{{#post}}

<!-- Post Header -->
<header class="intro-header" {{#if feature_image}}style="background-image: url('{{feature_image}}')" {{/if}}>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{title}}</h1>
                    {{#if custom_excerpt}}
                    <h2 class="subheading">{{custom_excerpt}}</h2>
                    {{/if}}
                    <span class="meta">Escrito por {{#foreach authors}}<a href="{{url}}">{{name}}</a>{{/foreach}} {{date published_at timeago="true"}}</span>
                    <div class="right-float"><span class="eta">{{reading_time}}</span> <i class="fa fa-clock-o" aria-hidden="true"></i></div>

                </div>
            </div>
        </div>
    </div>

</header>

<article class="{{post_class}}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <div class="post-content">
                    {{content}}
                </div>
            </div>
        </div>
    </div>
</article>

<div class="container post-footer">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            <ul class="pager">
                <div class="row">
            <!-- pager -->
                    {{#prev_post}}
                        <div class="col-sm-6 col-md-6">
                            <li class="previous pagination">
                                <div class="thumbnail">
                                  <div class="footer-caption">
                                    <a href="{{url}}">
                                        <p class="pre-caption">&laquo; Entrada anterior</p>
                                        <h3>{{title}}</h3>
                                        <p>{{excerpt characters="140"}}</p>
                                    </a>
                                    </div>
                                </div>
                            </li>
                        </div>
                    {{/prev_post}}

                    {{#next_post}}
                        <div class="col-sm-6 col-md-6">
                            <li class="previous pagination">
                                <div class="thumbnail">
                                  <div class="footer-caption">
                                    <a href="{{url}}">
                                        <p class="pre-caption">Entrada siguiente &raquo;</p>
                                        <h3>{{title}}</h3>
                                        {{#if excerpt}}<p> {{excerpt}} </p> {{/if}}
                                    </a>
                                    </div>
                                </div>
                            </li>
                        </div>
                    {{/next_post}}
                </div>
            </ul>

            <!-- commento -->
            <h2> Comentarios </h2>
            <div id="commento"></div>
            <script src="https://cdn.commento.io/js/commento.js"></script>

        </div>
    </div>
</div>

<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
<script src="{{asset "built/snakke.min.js"}}"></script>

{{/post}}